<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Familiares</title>
</head>
<body>
El registro de los familiares fue creado Satisfactoriamente
<br>
<br>

<b><h2>Familiar 1:</h2></b>
    <br>

           <b> Nombre : </b> {{ familiar1.nombre}}
            <br>
            <b>Apellido: </b>  {{ familiar1.apellidos }}
            <br>
             <b>Telefono:</b>  {{ familiar1.telefono }}
            <br>
             <b>Fecha de registro:</b> {{ familiar1.fecha_registro }}
    <br>

<b><h2>Familiar 2:</h2></b>
    <br>

           <b> Nombre : </b> {{ familiar2.nombre}}
            <br>
            <b>Apellido: </b>  {{ familiar2.apellidos }}
            <br>
             <b>Telefono:</b>  {{ familiar2.telefono }}
            <br>
             <b>Fecha de registro:</b> {{ familiar2.fecha_registro }}
    <br>

<b><h2>Familiar 3:</h2></b>
    <br>

           <b> Nombre : </b> {{ familiar3.nombre}}
            <br>
            <b>Apellido: </b>  {{ familiar3.apellidos }}
            <br>
             <b>Telefono:</b>  {{ familiar3.telefono }}
            <br>
             <b>Fecha de registro:</b> {{ familiar3.fecha_registro }}
    <br>

</body>
</html>